:root{
    --primary :#232946 ;
    --secondary:#b8c1ec;
    --tertiary:#939393;
    --heading-size: 25pox;
}
body{
    background-color: var(--primary);
    color: var(--tertiary);
}
h1{

color: var(--secondary);
font-size: var(--heading-size);

}
p{

color: var();
}