p {
    font-family:'Belanosima', sans-serif;
    font-size: 20px;
    font-weight:60px ;
    font-style: normal;
}
@font-face { /* se descarga  el font y se pone en la carpeta fonts para opoder utilizar */
    font-family: "Star Wars";
    src: url(./assets/fonts/StarWars.otf);
}

